@page "/createTask/{projektId:int}/{taskId:int?}"
@using twaProject.Classes
@inject StateManager stateManager
@inject NavigationManager navigationManager
@inject MainDbContext context
@inject ProtectedLocalStorage localStorage
@inject IJSRuntime JsRuntime

<h3>CreateTask</h3>

<EditForm Model="_task" class="form-horizontal" FormName="newProjForm" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary class="text-danger"></ValidationSummary>

    <div class="form-group">
        <label for="name">Project name:</label>
        <InputText id="name" type="text" name="inp" class="form-control" @bind-Value="_task.Name"></InputText>
    </div>

    <div class="form-group">
        <label for="startDate">Start date:</label>
        <InputDate id="startDate" class="form-control" @bind-Value="_task.StartDate"></InputDate>
    </div>

    <div class="form-group">
        <label for="endDate">End date:</label>
        <InputDate id="endDate" class="form-control" @bind-Value="_task.EndDate"></InputDate>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <InputText id="description" type="text" class="form-control" @bind-Value="_task.Description"></InputText>
    </div>

    <div class="form-group">
        <label for="member">Assign member:</label>
        <select @onchange="addMember" class="form-control">
            @foreach (var user in usersInProjekt)
            { 
                <option value="@user.Name">@user.Name</option>
            }
        </select>
    </div>

    <div class="form-group form-check">
        <InputCheckbox id="isCompleted" class="form-check-input" @bind-Value="@_task.IsCompleted" @oninput="() => _task.IsCompleted = !_task.IsCompleted"></InputCheckbox>
        <label for="isCompleted" class="form-check-label">Is task completed</label>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>
