@page "/createTask/{projektId:int}/{taskId:int?}"
@using twaProject.Classes
@inject StateManager stateManager
@inject NavigationManager navigationManager
@inject MainDbContext context
@inject ProtectedLocalStorage localStorage
@inject IJSRuntime JsRuntime

<h3>CreateTask</h3>

<EditForm Model="_task" class="justify-content-center align-self-center" FormName="newProjForm" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <label for="name">Project name: </label>
    <InputText id="name" type="text" name="inp" @bind-Value="_task.Name"></InputText>
    <br/>

    <label for="startDate">Start date: </label>
    <InputDate id="startDate" @bind-Value="_task.StartDate"></InputDate>
    <br/>

    <label for="endDate">End date: </label>
    <InputDate id="endDate"  @bind-Value="_task.EndDate"></InputDate>
    <br/>

    <label for="">Description: </label>
    <InputText id="description" type="text" @bind-Value="_task.Description"></InputText>
    <br/>

    <select @onchange="addMember">
        
        @foreach (var user in usersInProjekt)
        {
            <option value="@user.Name">@user.Name</option>
        }
    </select>
    
    <article>Is task completed: </article>
    <InputCheckbox @bind-Value="@_task.IsCompleted" @oninput="() => _task.IsCompleted = !_task.IsCompleted"></InputCheckbox>

    <br/>
    <button type="submit">Submit</button>
</EditForm>