@page "/"
@using System.Diagnostics
@using twaProject.Classes
@rendermode InteractiveServer
@inject StateManager stateManager
@inject NavigationManager navigationManager
@inject MainDbContext context
@inject ProtectedLocalStorage localStorage
<PageTitle>Login</PageTitle>

<div >
    <EditForm Model="@WebUser" class="align-items-center" FormName="loginForm" OnValidSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="mb-3">
            <label for="name">Username: </label>
            <InputText class="form-control" id="name" type="text" @bind-Value="@WebUser.Name"></InputText>
            <br/>
        </div>
        
        <label for="password">Password: </label>
        <InputText id="password" type="password" @bind-Value="@WebUser.Password"></InputText>
        <br/>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
    <br/>
    <button @onclick="navToRegister" class="btn btn-secondary">Do not have account? Register</button>
    @if (!succes)
    {
        <p>Wrong name or password</p>
    }
</div>