@page "/"
@using System.Diagnostics
@using twaProject.Classes
@rendermode InteractiveServer
@inject StateManager stateManager
@inject NavigationManager navigationManager
@inject MainDbContext context
@inject ProtectedLocalStorage localStorage

<PageTitle>Login</PageTitle>
<div class="d-flex justify-content-center align-items-center">
    <EditForm Model="@WebUser" FormName="loginForm" OnValidSubmit="Submit" class="w-50">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary class="text-danger"></ValidationSummary>

        <div class="mb-3">
            <label for="name" class="form-label">Username:</label>
            <InputText class="form-control" id="name" type="text" @bind-Value="@WebUser.Name"></InputText>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <InputText class="form-control" id="password" type="password" @bind-Value="@WebUser.Password"></InputText>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
</div>

<div class="d-flex justify-content-center align-items-center mt-3">
    <button @onclick="navToRegister" class="btn btn-secondary">Do not have an account? Register</button>
</div>

@if (!succes)
{
    <div class="alert alert-danger mt-3" role="alert">
        Wrong username or password
    </div>
}
