@page "/userDetails/{Succes:bool?}"
@using System.Diagnostics
@using Microsoft.EntityFrameworkCore
@using twaProject.Classes
@using twaProject.Components.Templates
@rendermode InteractiveServer
@inject StateManager stateManager
@inject NavigationManager navigationManager
@inject MainDbContext context
@inject ProtectedLocalStorage localStorage

<PageTitle>Overview</PageTitle>
<button class="btn btn-primary mb-3" @onclick="createProject">Create project</button>

@if (stateManager.isUserLogged)
{
    <div class="alert alert-success">
        <p>You are logged in!</p>
    </div>

    int currentUserId = stateManager.CurrentUser.WebUserId;

    //Selects all projects for given user
    List<Projekt> projects = context.Projekt
        .Include(p => p.MemberUsers) 
        .Where(p => p.MemberUsers.Any(mu => mu.WebUserId == currentUserId))
        .ToList();

    @if (projects.Count > 0)
    {
        <p>Members of project:</p>
        @foreach (var project in projects)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p class="font-weight-bold">@project.Name</p>
                    @foreach (var member in project.MemberUsers)
                    {
                        <p class="ml-3">@member.Name</p>
                    }
                    <button class="btn btn-info mt-2" @onclick="e => editProject(project.ProjektId)">Show details</button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning">
            <p>You have no current projects</p>
        </div>
    }
}
@if (Succes)
{
    <div class="alert alert-success mt-3">
        <p>Project successfully created!</p>
        
            Succes = false;
        
    </div>
}

