@page "/userDetails/{Succes:bool?}"
@using System.Diagnostics
@using Microsoft.EntityFrameworkCore
@using twaProject.Classes
@using twaProject.Components.Templates
@rendermode InteractiveServer
@inject StateManager stateManager
@inject NavigationManager navigationManager
@inject MainDbContext context

<PageTitle>Overview</PageTitle>

<button class="btn btn-primary" @onclick="createProject">Create project</button>

@if (stateManager.isUserLogged)
{
    <p>You are logged in!</p>
    
    int currentUserId = stateManager.CurrentUser.WebUserId;

    List<Projekt> projects = context.Projekt
        .Include(p => p.MemberUsers) 
        .Where(p => p.MemberUsers.Any(mu => mu.WebUserId == currentUserId))
        .ToList();

    if (projects.Count > 0)
    {
        <p>Members of project: </p>
        foreach (var project in projects)
        {
            <p><b>@project.Name</b></p>
            foreach (var member in project.MemberUsers)
            {
                <p>@member.Name</p>
            }
            <button @onclick="e => editProject(project.ProjektId)">Edit project</button>
        }
    }
    else
    {
        <p>You have no current projects</p>
    }
}
@if (Succes)
{
    @* <Alert Title="Succes" Message="Project successfully created!"></Alert> *@
    <p>Project successfully created!</p>
    Succes = false;
}
