@using twaProject.Classes

@code {
    public SelectUser(MainDbContext unknown)
    {
        context = unknown;
    }
}
@inject MainDbContext context

<br/>
<label >Select members of this project: </label>
<InputSelect  @bind-Value="Users" >
    @* @foreach (var user in this.context.WebUser) *@
    @* { *@
    @*     <option>@user.Name</option> *@
    @* } *@
</InputSelect>
<br/>